{% macro render_errors(errors) %}
{% if errors %}<ul class=errors>{% for error in errors %}<li>{{ error }}</li>{% endfor %}</ul>{% endif %}
{% endmacro %}


{% macro render_field(field) %}
{{ field.label }}{{ field(**kwargs)|safe }}{{ render_errors(field.errors)}}
{% endmacro %}


{% macro render_field_div_reversed(field) %}
<div>{{ field.label }}{{ field(**kwargs)|safe }}{{ render_errors(field.errors)}}</div>
{% endmacro %}


{% macro render_field_li(field) %}
<li>{{ field.label }}{{ field(**kwargs)|safe }}{{ render_errors(field.errors) }}</li>
{% endmacro %}


{% macro render_field_div(field) %}
{% if field.name=='submit' %}<div>{{ field(**kwargs)|safe }}</div>
{% else %}<div>{{ field(**kwargs)|safe }}{{ field.label }}{{ render_errors(field.errors) }}</div>{% endif %}
{% endmacro %}


{% macro render_modal_field(field) %}                                
  {{ field(**kwargs)|safe }}
{% endmacro %}


