{# passchange.jinja2 #}

{% extends "layout.jinja2" %}
{% block title %}{% trans %}passchange{% endtrans%}{% endblock %}
{% block stylesheet %}{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/smallform.css') }}">{% endblock %}
{% block layoutcontent %}
{{ super() }}
<div class="smallformpage">
    <h2>{% trans %}passchange{% endtrans%}</h2>
    <form id="passchangeform" class="smallform" method="POST" action="{{ url_for('passChange') }}">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
        {% for field in passchangeform %}{{ render_field_div(field) }}{% endfor %}
    </form>
</div>
{% endblock %}