.col1 {
	width: 3%;
}

.col2, .col4, .col5 {
	width: 5%;
}

.col3 {
	width: 7%;
}

.col6 {
	width: 15%;
}

.col7 {
	width: auto;
}
.col8 {
	width: 7%;
}

.col9 {
	width: 5%;
}

.col10 {
	width: 7%;
}

td:nth-child(1) {
	font-weight: bold;
}

td:nth-child(6), td:nth-child(7) {
	text-align: left;
}

a.orderlist {
    position: relative;
    z-index: 2;
}

svg {
    height: 20px;
    width: 20px;
    fill: #09c;
}

svg:nth-child(1) {
    margin-right: 5px;
}

svg.orderlistsvg:hover, svg.orderlistsvg:active, svg.orderlistsvg:focus {
    fill: orange;
    cursor: pointer;
}