.col1 {
	width: 4%;
}

.col2 {
	width: 10%;
}

.col3 {
	width: 11%;
}

.col4 {
	width: 11%;
}

.col5 {
	width: 7%;
}

.col6 {
	width: 7%;
}

.col7 {
	width: 7%;
}

.col8 {
	width: 7%;
}

.col9 {
	width: 7%;
}

.col10 {
	width: 7%;
}

.col11 {
	width: 7%;

}
.col12 {
	width: 7%;
}

.col13 {
	width: 4%;
}

.col14 {
	width: 4%;
}

td:nth-child(1) {
	font-weight: bold;
}

td:nth-child(2), td:nth-child(3), td:nth-child(4), td:nth-child(5), td:nth-child(6) {
	text-align: left;
}

tr.tablebody:hover {
	background-color: #ffffcc;
	cursor: pointer;
}