h1::first-letter {
	text-transform: capitalize;
}

h1 {
    text-align: center;
    margin-bottom: 0px;
}

h2::first-letter {
	text-transform: capitalize;
}

h2 {
    margin: 0px 0px 20px 0px;
    text-align: center;
    font-size: 0.95em;
}

legend {
	font-size: 1.1em;
	font-weight: bold;
}

legend::after {
    content: ":";
}

legend::first-letter {
    text-transform: capitalize;
}

label {
    display: inline-block;
}

label::first-letter {
  text-transform: capitalize;
}

textarea {
    resize: vertical;
    margin-bottom: 20px;
}

div {
    margin-bottom: 5px;
}

input[type=checkbox] {
    margin-right: 10px;
}

.required::after {
	content: "*";
}

#first div {
    text-align: right;
}

#first .fright div {
    text-align: left;
}

#first .fleft label::after {
    content: ":";
}

#first .fright label {
    width: 90%;
}

#first .fleft input[type=text], select {
    width: 55%;
    margin: 0px 17% 0px 2%;   
}

.fleft {
    float: left;
    width: 46%;
    margin: 0px;
    border-style: none; 
}

.fright {
    width: 47%;
    margin: 0px;
    border-style: none;    
}

#lastone {
    clear: both;
}

#observed, #actiontaken, #howandwhoto, #rootcause, #othernotes {
    width: 100%;
}

