{# userlist.jinja2 #}

{% extends "menu.jinja2" %}
{% block title %}{% trans %}openorderlist{% endtrans%}{% endblock %}
{% block stylesheet %}{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('transportorder.static', filename='css/orderlist.css') }}">
{% endblock %}
{% block layoutcontent %}
{{ super() }}
<table>
<caption>{% trans %}openorderslist{% endtrans%}</caption>
<tr>
<th class="col1">{% trans %}orderid{% endtrans%}</th>
<th class="col2">{% trans %}orderCreationDate{% endtrans%}</th>
<th class="col3">{% trans %}username{% endtrans%}</th>
<th class="col4">{% trans %}pickupdate{% endtrans%}</th>
<th class="col5">{% trans %}deliverydate{% endtrans%}</th>
<th class="col6">{% trans %}ordertitle{% endtrans%}</th>
<th class="col7">{% trans %}ordernotes{% endtrans%}</th>
<th class="col8">{% trans %}hauler{% endtrans%}</th>
<th class="col9">{% trans %}price{% endtrans%}</th>
<th class="col10">{% trans %}orderactions{% endtrans%}</th>
</tr>

{% for row in rows %}
<tr class="tablebody">
<td class="col1" data-record-id={{ row['orderid'] }}>{{ row['orderid'] }}</td>
<td class="col2" data-record-id={{ row['orderid'] }}>{{ row['orderCreationDate'].strftime('%d-%m-%Y') }}</td>
<td class="col3" data-record-id={{ row['orderid'] }}>{{ row.users['name'] }} {{ row.users['surname'] }}</td>
<td class="col4" data-record-id={{ row['orderid'] }}>{{ row['pickupDate'].strftime('%d-%m-%Y') }}</td>
<td class="col5" data-record-id={{ row['orderid'] }}>{{ row['deliveryDate'].strftime('%d-%m-%Y') }}</td>
<td class="col6" data-record-id={{ row['orderid'] }}>{{ row['orderTitle'] }}</td>
<td class="col7" data-record-id={{ row['orderid'] }}>{{ row['orderNotes'] }}</td>
<td class="col8" data-record-id={{ row['orderid'] }}>{{ row.transportWinners['friendlyname'] }}</td>
<td class="col9" data-record-id={{ row['orderid'] }}>{{ row['price'] }} {{ row['currency'] }}</td>
<td class="col10" data-record-id={{ row['orderid'] }}>
{% if row['transportWinner'] is none %}
<a class="orderlist" data-record-id={{row["orderid"]}} onclick="getSingleData(event, 'order');"><svg class="orderlistsvg"><title>{% trans %}addwinner{% endtrans%}</title><use href="#winner1"/></svg></a>
{% endif %}
<a class="orderlist" data-record-id={{ row["orderid"] }} onclick="getSingleData(event, 'orderview');"><svg class="orderlistsvg"><title>{% trans %}vieworder{% endtrans%}</title><use href="#view1"/></svg></a>
<a class="orderlist" data-record-id={{ row["orderid"] }} onclick="getSingleData(event, 'cancelorder');"><svg class="orderlistsvg"><title>{% trans %}cancelorder{% endtrans%}</title><use href="#cancel4"/></svg></a>
</td>
</tr>
{% endfor %}
</table>
<div id="openModalAddWinner" class="modalDialog">
    <div>
    <div class="formpage">
        <h2>{% trans %}additem{% endtrans%}</h2>
    
        <form id="addwinnerform" method="POST" action="{{ url_for('transportorder.orderlist') }}">
			<input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
			<input type="reset" form="addwinnerform" value="X" class="close" onclick="closeModal('openModalAddWinner','addwinnerform');">
            {% for field in winnerform %}{{ render_field_div(field) }}{% endfor %}
            <input type="button" form="addwinnerform" value="submit" class="commonSubmit" onclick="validate(event);">
        </form>
    </div>
    </div>
</div>

<div id="openModalViewOrder" class="modalDialog">
    <div>
    <div class="formpage">
        <h2>{% trans %}orderrfq{% endtrans%}:<span id="orderrfqnumber"></span></h2>
        <div id='vieworder'>
        <input type="reset" value="X" class="close" onclick="closeModal('openModalViewOrder','vieworder');">
        <dl>
<dt>Popis prepravy:</dt>
<dd id='orderrfqtitle'></dd>
<dt>Objednatel:</dt>
<dd id='orderrfquser'></dd>
<dt>nakladka dne:</dt>
<dd id='orderrfqpickupdate'></dd>
<dt>nakladka:</dt>
<dd id='orderrfqpickupplace'></dd>
<dt>vykladka dne:</dt>
<dd id='orderrfqdeliverydate'></dd>
<dt>vykladka:</dt>
<dd id='orderrfqdeliveryplace'></dd>
<dt>Dalsi detaily</dt>
<dd id='orderrfqordernotes'></dd>
</dl>
        
        </div>
    </div>
    </div>
</div>

{% endblock %}