{# userlist.jinja2 #}

{% extends "menu.jinja2" %}
{% block title %}{% trans %}userlist{% endtrans%}{% endblock %}
{% block stylesheet %}{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('transportorder.static', filename='css/userlist.css') }}">
{% endblock %}
{% block layoutcontent %}
{{ super() }}
<table>
<caption>{% trans %}userlistcaption{% endtrans%}</caption>
<tr>
<th class="col1">{% trans %}userid{% endtrans%}</th>
<th class="col2">{% trans %}lastname{% endtrans%}</th>
<th class="col3">{% trans %}name{% endtrans%}</th>
<th class="col4">{% trans %}tel{% endtrans%}</th>
<th class="col5">{% trans %}email{% endtrans%}</th>
<th class="col7">{% trans %}userroles{% endtrans%}</th>
<th class="col8">{% trans %}userisactive{% endtrans%}</th>
</tr>

{% for row in rows %}
<tr class="tablebody" onclick="getSingleData(event, 'user');">
<td class="col1" data-record-id={{row["userid"]}}>{{row["userid"]}}</td>
<td class="col2" data-record-id={{row["userid"]}}>{{row["surname"]}}</td>
<td class="col3" data-record-id={{row["userid"]}}>{{row["name"]}}</td>
<td class="col4" data-record-id={{row["userid"]}}>{{row["usertel"]}}</td>
<td class="col5" data-record-id={{row["userid"]}}>{{row["useremail"]}}</td>
{% if row.roles %}
    {% set rolenames = namespace(rn="") %}
    {% for role in row.roles %}
        {% set rolenames.rn = rolenames.rn + " " + role.rolename %}
    {% endfor %}
    <td class="col7" data-record-id={{row["userid"]}}>{{ rolenames.rn }}</td>
{% else %}
    <td class="col7" data-record-id={{row["userid"]}}>&nbsp;</td>
{% endif %}
<td class="col8" data-record-id={{row["userid"]}}>{{row["active"]}}</td>
</tr>
{% endfor %}
</table>

<div id="openModalEditUser" class="modalDialog">
    <div>
    <div class="formpage">
        <h2>{% trans %}edituser{% endtrans%}</h2>
        <form id="edituserform" method="POST" action="{{ url_for('transportorder.userlist') }}">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
            <input type="reset" form="editserform" value="X" class="close" onclick="closeModal('openModalEditUser','edituserform');">
            {% for field in form %}
            {{ render_field_div(field) }}
            {% endfor %}
        </form>
    </div>
    </div>
</div>
{% endblock %}